
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
$primary-color: #2a1a1f;
$secondary-color: #453750;
$third-color: #73648a;
$text-color: #a393bf;
$secondary-text-color: #73648a;
$text-hover: #fff;
$text-hover-transition: all 0.5s ease;
.textSection {
  width: 52vw;
  height: 90vh;
  margin: 0;
  padding: 25px;
}
.elementContainer{
    display: flex;
}

.svgSection {
  width: 40vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.svgbox{
    height: 500px;
    width:500px;
    background: url(../assets/pic.svg);
    background-repeat: no-repeat;
    background-size:contain;

}
.titletext{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Lobster Two', cursive;
    color: $secondary-color;

}
.paragraphTitle{
    font-weight: 300;
    padding: 0;
    color: $secondary-color;
}
.textinner{
    padding: 20px;
    margin: 25px;

}
.contactbtn{
    font-weight: 300;
    border: 1px solid;
    padding: 15px;
    width: 200px;
    float: left;
    text-align: center;
    transition: $text-hover-transition;
}
.contactbtn:hover{
    color: #fff;
    background: $secondary-color;
}