
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
$primary-color: #2a1a1f;
$secondary-color: #453750;
$third-color: #73648a;
$text-color: #a393bf;
$secondary-text-color: #73648a;
$new-primary-bg: #0D1821;
$text-hover: #fff;
$text-hover-transition: all 0.5s ease;

.mainContainerBanner{
    background: $new-primary-bg;
    height: 100vh;
    width: 100vw;
}