$primary-color: #2a1a1f;
$secondary-color: #453750;
$third-color: #73648a;
$text-color: #a393bf;
$secondary-text-color: #73648a;
$text-hover: #fff;
$text-hover-transition: all .5s ease;

.list {
  list-style: none;
}
.ul {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.nav {
  height: 100vh;
  background-color: $primary-color;
  color: $text-color;
  font-size: 1.5em;
  --order: 0;
  font-weight: 300;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 100ms);
  overflow: hidden;
}
.bucket {
  display: flex;
}
.links1 {
  float: right;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  --order: 1;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 200ms);
  transition: $text-hover-transition;
}
.links2 {
  float: right;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  --order: 2;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 200ms);
  transition: $text-hover-transition;
}

.links3 {
  float: right;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  --order: 3;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 200ms);
  transition: $text-hover-transition;
}
.links4 {
  float: right;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  --order: 4;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 200ms);
  transition: $text-hover-transition;
}


@keyframes dropIn {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.img{
    border: 1px solid #FFF;
    height: 100px;
    background: url("../assets//user.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    border-radius: 50%;
    margin: 15px 15px -15px 15px;
    animation: fadeIn 2s ease forwards;
}

.links1:hover{
  color: $text-hover;
}
.links2:hover{
  color: $text-hover;
}
.links3:hover{
  color: $text-hover;
}
.links4:hover{
  color: $text-hover;
}

.social{
  margin: 25px 0;
  list-style: none;
  font-size: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.links5{
  margin: 25px 0 0 0;
  float: left;
  text-decoration: none;
}
.links5:hover{
  color: $text-hover-transition;
}